# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv

# Ignore debug and temp files
*.json
*.html

# Ignore output if not needed (uncomment if you want to ignore output)
# cloud_security_principles/

# VSCode settings
.vscode/
